@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    920 Fleming Ave.<br />
    Winnipeg, MB R2K 1V6<br />
    <abbr title="Phone">P:</abbr>
    204.791.8224
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">slfroese@mymts.net</a><br />
</address>